---
layout: archive
title: "Highlights of Recent Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my complete bibliography at <a href="{{site.author.googlescholar}}">my Google Scholar profile</a> {% endif %}  or with <a href="https://ui.adsabs.harvard.edu/search/q=author:(%22Gaidos,E.%22)">NASA ADS</a>. Highlights of recent publications are below: </div class="wordwrap">
{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



